.map-item {
  width: 50%;
  height: 100%;
  margin-left: 0;
}

.container {
  float: left;
  width: 50%;
  height: 100%;
  margin-right: 0;
}

.map {
  width: 100%;
  height: 100%;
}

.charts-item {
  width: 100%;
}



