body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

#map {
  position: fixed;
  left: 0;
}



.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
}

#title {
  top: 0;
  height: 50px;
  margin-top: 20px;
  width: 500px;
  margin-right: 50%;
}

#legend {
  padding: 10px;
  line-height: 18px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  }

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
